/* --------------------
    common configuration
---------------------- */

body{
    background-color: #fff;
}

/* ----------------
    MAIM-VISUAL 
------------------*/
.wrapper-title {
    margin-left: 60px;
}

.main-img {
    height: 700px;
    background: url(../kadaiImage/cheese-main.jpg) no-repeat center center;
    background-size: cover;
    /* main-titleに使っていたpadding-top:200px
    ---------------をこちらに追加------------*/
    padding-top: 240px;
}

.main-title {
    /* padding-top: 200px; ---
    ----------これは不要 -----*/
    text-align: center;
    font-size: 100px;
    color: rgba(212, 216, 208, 0.856);
    background: rgba(0,0, 0, 0.6);
    font-family: "Noto Sans JP";
}


.yellow {
    color: rgb(223, 171, 29)
}

/* ------------------
    CONTENTS
--------------------*/
.wrapper-reco {
    width: 100%;
    margin-left: 60px;
}

.title-reco {
    font-size: 40px;
    color: rgb(255, 208, 0);
    font-family: "Noto Sans JP";
    padding-bottom: 60px;
    margin:60px;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    align-items: flex-end;
}

.cheese-picture {
    width: 400px;
    background-color: rgb(243, 14, 14);
}

.contents-cheese{
    font-size: 20px;
    margin-left: 30px;
    font-family: "Noto Sans JP";
    line-height: 30px;
}

.contents-wine{
    font-size: 20px;
    margin-right: 30px;
    font-family: "Noto Sans JP";
    line-height: 30px;
}

.wine-picture {
    width: 400px;
}

/* -----------------------
    Today's Recommendation
--------------------------*/

.today-recommendation {
    padding-top: 50px;
    font-size: 50px;
    font-family: Noto Sans JP;
}
.cheese-name {
    margin-top: 60px;
    font-size: 40px;
    font-family: Noto Sans JP;
}

.cheese-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-cheese {
    margin-top: 30px;
    height: 500px;
    border-radius: 30px;
}

.cheese-description {
    margin-left: 50px;
    font-size: 20px;
    font-family: Noto Sans JP;
}

